/* Styles to be used

dark background color (header and footer) : #1F2937
*/

body {
    display: flex;
    flex-direction: column;
    margin: 0;
    min-height: 100vh;
    font-family: 'Times New Roman', Times, serif;
}

.header-hero-wrapper {
    background-color: #1f2937;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 18px;
}
    
.header-logo {
    height: 100px;
    width: auto;
}

.header-links {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    gap: 10px;
}

.header-links a {
    color: #E5E7EB;
    text-decoration: none;
}

.Hero {
    display: flex;
    justify-content: center;
    margin: 100px;
    margin-left: 400px;
    margin-right: 400px;
}

.TripleJ-tech-card {
    align-self: center;
    margin-right: 20px;
}

h1 {
    font-size: 48px;
    font-weight: 900;
    color: seashell;
    padding: 0;
    margin: 0
}

.hero-text {
    color: seashell;
}

.sign-up {
    background-color: skyblue;
    color: snow;
    font-weight: 900;
    padding: 5px 20px;
    border-radius: 5px;
    border: 0;
}

.hero-photo {
    height: 250px;
    width: auto;
}

.cards-wrapper{
    margin: 100px;
}

h2 {
    font-size: 36px;
    font-weight: 900;
    color: #1f2937;
    text-align: center;
    margin-top: -50px;
}

.card-cont {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
}

.card-cont img {
    height: 200px;
    width: 200px;
    margin: 20px;
    border-radius: 10px;
    border: solid blue;
}

.subtext {
    text-align: center;
    margin-top: -15px;
}

.quote-wrapper {
    background-color: #E5E7EB;
}

.quote-container {
    display: flex;
    flex-direction: column;
    margin: 100px;
    padding-left: 400px;
    padding-right: 400px;

}
.quote-text {
    font-size: 36px;
    font-weight: 300px;
    font-style: italic;
    color: #1F2937;
}

.quote-author {
    font-weight: 900;
    align-self: flex-end;
}

.call-to-action-wrapper {
    margin: 100px;
}

.call-to-action-container {
    background-color: #3882f6;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-left: 300px;
    margin-right: 300px;
    border-radius: 10px;
    padding: 50px;
}

h3 {
    color: #E5E7EB;
    padding: 0px;
    margin: 0px;
}

.call-to-action-text {
    color: #E5E7EB;
    padding: 0px;
    margin: 0;
}

.sign-up-button-second {
    border: 2px solid white;
}

.footer-wrapper {
    background-color: #1F2937;
}

.footer {
    display: flex;
    align-items: center;
    margin: 10px;
    justify-content: center;
    font-size: 18px;
    color: #E5E7EB;
}
